
//* Variablen

// Color
$main-color: rgb(12, 12, 115);
$secondary-color: lightblue;

// Z-Index
$z-footer-nav: 9999999;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    background: linear-gradient(to top, black, $main-color);
    background-repeat: no-repeat;
    height: 100vh;
}



//////////////////////////////////
///* Footer Nav
//////////////////////////////////
.footerNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgba(34, 53, 63, 0.9);
    z-index: $z-footer-nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
}